<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    
      <ul class="navbar-nav me-auto mb-2 mb-lg-0"> 
        <li class="nav-item">
          <a class="nav-link fs-4 text-light active" aria-current="page" href="/">Private Events</a>
        </li>
        <% if user_signed_in? %>
        <li class="nav-item">
          <a class="nav-link fs-4 text-light" href="/events/new">New Events</a>
        </li>
        <% end %>
      </ul>
      
      <ul class="nav justify-content-end">
        <% if user_signed_in? %>
        <li class="nav-item">
            <%= link_to current_user.username, edit_user_registration_path, class: "nav-link text fs-4"%>
        </li>
        <li class="nav-item">
          <%= link_to "Logout", destroy_user_session_path, method: :delete, class:"nav-link text-light fs-4" %>
        </li>
        <% else %>
        <li class="nav-item">
          <%= link_to 'Sign In', new_user_session_path, class: "nav-link fs-4"  %>
        </li>
        <li class="nav-item">
          <%= link_to 'Sign Up', new_user_registration_path, class: "nav-link fs-4" %>
        </li>
        <% end %>
      </ul>
    </div>
</div>
</nav>